In [12]:
strings = ('str1', 'str2', 'strs')
strings.count('str1')
strings.index('str2')

1

In [5]:
len(strings)

3

In [6]:
players = [('Carlsen', 1990, 2842), ('Caruana', 1992, 2822), ('Mamedyarov', 1985, 2801)]

In [16]:
from collections import namedtuple

In [27]:
Player = namedtuple('Player', 'name age rating')
print(Player)

<class '__main__.Player'>

In [28]:
players = [Player('Carlsen', 1990, 2842), Player('Caruana', 1992, 2822), Player('Mamedyarov', 1985, 2801)]

In [31]:
players[0].name

'Carlsen'

In [33]:
p1 = Player('Carlsen', 1990, 2842)

In [35]:
p1.name

'Carlsen'